body {
  max-width: 100vh;
  max-height: 100vh;
  background-color: #eeeeee;
}

.todolist {
  background-color: #fff;
  padding: 20px 20px 10px 20px;
  width: 600px;
  margin: 30px auto;
}

.todolist h1 {
  margin: 0;
  padding-bottom: 20px;
  text-align: center;
}

.todolist ul {
  list-style-type: none;
}

.ui-state-default button {
  background-color: rgb(216, 50, 50);
  border-radius: 4px
}

li.ui-state-default {
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}

li.ui-state-default:last-child {
  border-bottom: none;
}

.todo-footer {
  border-top: 1px solid #ddd;
  background-color: #f4fce8;
  margin: 0 -20px -10px -20px;
  padding: 10px 20px;
}

.mark-all-done {
  margin-top: 10px;
}

.done {
  text-decoration: line-through;
}


.checkbox {
  display: flex;
  justify-content: space-between;
}

.count-todos {
  padding-right: 5px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header input {
  width: 200px;
  margin-bottom: 5px;
  border-radius: 4px;
}
header button {
  width: 80px;
  background-color:rgb(135, 182, 167);
  border-radius: 4px;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
}